@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

.fa-bars {
  padding: 8px;
  font-size: 20px;
}

#menu-list {
  display: none;
}

.content {
  justify-content: center;
  align-items: center;
}

.title2 {
  color: #36b37e;
  text-align: center;
}

.title {
  color: #172b4d;
  text-align: center;
  padding-top: 64px;
}

.title,
.title2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.details {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172849;
  text-align: center;
  padding-top: 50px;
}

.social-media,
.social-media2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding-top: 20px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.social-media,
.social-media2 li {
  list-style: none;
}

.logo {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.icone-clos {
  width: 18px;
  height: 12px;
  position: absolute;
  top: 6px;
  left: 900px;
}

.headline {
  background-image: url("./Images/header-illsutration-mobile.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

.work-section {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.work {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.description {
  height: 97px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.Work {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin: 0 32px;
  margin-top: 50px;
}

.Text {
  background: #fff;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 308px;
  height: 222px;
  left: calc(50% - 327px / 2);
  border-radius: 8px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.Program {
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  display: flex;
}

.language {
  padding: 12px 10px;
  font-weight: 600;
  font-size: 8px;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 5px;
  list-style: none;
}

.project-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #36b37f;
  padding: 12px;
  bottom: 8px;
  border-radius: 5px;
  border: 1px solid #36b37f;
  cursor: pointer;
}

.project-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  transition: ease-in-out;
}

.project-button:active {
  background: #008552;
}

.about-me-container {
  margin-top: 50px;
}

.about-me {
  background: url("Images/illustration-\ about\ me-\ mobile\ \(1\).png") left bottom, url("Images/illustration\ 1-\ about\ me-mobile.png") right top;
  background-size: 380px, 70px, auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About-me {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
}

.support-text {
  font-weight: 400px;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  padding-top: 50px;
}

.project-button-2,
.project-button-3 {
  margin-top: 30px;
}

.card-work {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  width: 327px;
  height: 352px;
  box-sizing: border-box;
  margin: 50px 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #344563;
  text-align: center;
}

.text {
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.Tag {
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
  color: #68c69e;
  background: #fff;
  border-radius: 8px;
  list-style: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15px;
  background: url("./Images/illustration-contact-form.png");
  background-position: right bottom 5%;
  background-size: 60px;
  background-repeat: no-repeat;
}

.form-intro {
  font-weight: 700;
  font-size: 40px;
  align-items: center;
  text-align: center;
  line-height: 52px;
  margin-left: 20px;
  margin-right: 20px;
  color: #172b4d;
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#name,
#email,
#message {
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  margin-bottom: 20px;
}

#message {
  height: 114px;
  border: 1px solid #60c095;
}

.form-container p {
  color: #425264;
  font-size: 15px;
  font-weight: 200;
  margin-top: 5px;
}

/* Desktop version Media Queries */
@media only screen and (min-width: 768px) {
  .navbar {
    position: absolute;
    align-self: center;
    height: 72px;
  }

  .logo,
  .hamburger-menu {
    display: none;
  }

  #menu {
    display: flex;
    width: 300px;
  }

  #menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-weight: 600;
    text-align: center;
  }

  #menu-list li a {
    text-decoration: none;
    color: #8d96a7;
  }

  #menu-list a:hover,
  #menu-list a:focus {
    background: black;
    color: #fff;
    rotate: 180deg;
    transition-delay: o.5s;
  }


  /* Headline section */
  .content {
    padding: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title {
    padding: 40px 0 10px 0;
  }

  .title2 br {
    display: none;
  }

  .headline {
    height: 1125px;
    padding: auto;
    background-image: url(./Images/Header-llustration-desktop.svg);
    background-size: cover;
    background-position: center;
  }

  .details {
    padding-top: 20px;
    max-width: 920px;
  }

  /* Project section */
  .work img {
    display: none;
  }

  .work-section,
  #work-section {
    grid-template-columns: repeat(3, auto);
  }

  /* About me section */
  .about-me {
    background-image: url(./Images/illustration\ about\ me\ desktop.svg);
    background-position: top;
    background-size: 105%;
  }

  .about-me-container,
  .About-me {
    margin-top: 160px;
  }

  .support-text {
    max-width: 920px;
  }

  .skills {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
  }

  /* Form section */
  .form-container {
    display: grid;
    grid-template-columns: 453px 550px;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/Desktop\ -\ 4.svg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 280px;
  }

  .form button {
    align-self: flex-start;
  }

  #outro {
    text-align: justify;
    font-size: 25px;
    font-weight: 700;
  }

  .form p,
  .form ul {
    display: none;
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dfe1e6;
    background: #fff;
  }
}
