@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 327px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #452589;
  transition: ease-in-out transform 0.5;
  transform: translate(0);
}

.title:hover {
  transform: rotateY(45deg);
}

.details {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172849;
  text-align: center;
}

.social-media {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
  width: 160px;
  height: 10px;
  left: 700px;
  position: absolute;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #6070ff;
  padding: 20px;
  width: 80px;
}

.icone-clos {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 30px;
  bottom: 20px;
  right: 590px;
}

.headline {
  background-color: #fff;
  background-image: url(/Images/header-illsutration-mobile@2x.png);
}
